.container {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 10vh 75vh 10vh;
}

.infoBarProfile {
    grid-column: 1;
    grid-row: 1;
}

.infoBarChat {
    grid-column: 2;
    grid-row: 1;
}

.barTalks {
    grid-column: 1;
    grid-row: 2, 3;
}

.messages {
    grid-column: 2;
    grid-row: 2;
}

.form {
    grid-column: 2;
    grid-row: 3;
}