.infoBarProfile {
    background-color: rgb(9, 64, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-name {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.refresh img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}